#tituloPrincipal {
    color: cadetblue;
    font-family: sans-serif;
}

.parrafoSecundario{
    color: blueviolet;
    font-size: 20px;
}

/*p{
    background-color: #88ce5e;
}*/

a:link{
    color: chocolate;
}

a:visited{
    color: darkgreen;
    background-color: black;
}

a:hover{
    transition: 1s;
    background-color: black;
    color: white;
    border-radius: 25px;
}

a:active{
    background-color: red;
    color: black;
}

/*"even son parrafs pares y odd son parrafos inpares"*/
p:nth-child(even) {
    background-color: red;
}

p:nth-child(odd) {
    background-color: greenyellow;
}

